
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="row align-items-center">
        <div class="col-md-3">
            <h2>Warehouses</h2>
        </div>
        <div class="col-md-9 text-right">
            <ul>
                @if (HttpContext.Current.Session["UserType"].ToString().Equals("2"))
                {
                    <li style="text-decoration:none;display:inline-block">
                        <input type="button" class="btn btn-success" value="Add a Warehouse" onclick="location.href='@Url.Action("AddWarehouse", "Warehouses")'" />
                    </li>
                }
                <li style="text-decoration:none;display:inline-block">
                    <input type="button" class="btn btn-primary" value="Back to Main Page" onclick="location.href='@Url.Action("Index", "Main")'" />
                </li>
            </ul>
        </div>
    </div>
</div>


<div class="table-responsive">
    <table class="table table-hover ">
        <thead style="font-weight:700;font-size:110%;">
            <tr>
                <td>Warehouse ID</td>
                <td>Warehouse Name</td>
                @if (HttpContext.Current.Session["UserType"].ToString().Equals("2") || HttpContext.Current.Session["UserType"].ToString().Equals("1"))
                {
                    <td>Phone Number</td>
                    <td>Email</td>
                }
            </tr>
        </thead>
        <hr />
        <tbody>
            @foreach (var item in Model)
            {
            <tr>

                <td scope="row">@item.warehouseID</td>
                <td>@item.warehouseName</td>
                @if (HttpContext.Current.Session["UserType"].ToString().Equals("2") || HttpContext.Current.Session["UserType"].ToString().Equals("1"))
                {
                    <td>@item.phoneNumber</td>
                    <td>@item.email</td>
                    <td>
                        @Html.ActionLink("Detail", "DetailWarehouse", "Warehouses", new { id = item.warehouseID }, null)
                        @if (HttpContext.Current.Session["UserType"].ToString().Equals("2"))
                        {
                            <span>|</span>
                            @Html.ActionLink("Edit", "EditWarehouse", "Warehouses", new { id = item.warehouseID }, null)
                            if (item.currentCapacity == 0)
                            {
                                <span>|</span>
                                if (item.warehouseID > 1)
                                {
                                    @Html.ActionLink("Delete", "DeleteFromWarehouses", "Warehouses", new { id = @item.warehouseID }, new { onclick = "return confirm('Are you sure you wish to delete this warehouse with its contents?'); " })
                                }
                                else
                                {
                                    <label style="color:red">Delete</label>
                                }
                            }
                        }
                    </td>
                }
            </tr>
            }
        </tbody>
    </table>
</div>



