
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <div class="row align-items-center">
        <div class="col-md-3">
            <h2>Staff Members</h2>
        </div>
        <div class="col-md-9 text-right">
            <ul>
                <li style="text-decoration:none;display:inline-block">
                    <input type="button" class="btn btn-success" value="Add a Staff Member" onclick="location.href='@Url.Action("AddUser", "Users")'" />
                </li>
                <li style="text-decoration:none;display:inline-block">
                    <input type="button" class="btn btn-primary" value="Back to Main Page" onclick="location.href='@Url.Action("Index", "Main")'" />
                </li>
            </ul>
        </div>
    </div>
</div>


<div class="table-responsive">
    <table class="table table-hover ">
        <thead style="font-weight:700;font-size:110%;">
            <tr>
                <td>User ID</td>
                <td>Full Name</td>
                <td>Staff ID</td>
                <td>Title</td>
                <td>Warehouse ID</td>
            </tr>
        </thead>
        <hr />
        <tbody>
            @foreach (var item in Model)
            {
                <tr>

                    <td>@item.userID</td>
                    <td>@item.Users.firstName @item.Users.lastName</td>
                    <td>@item.staffID</td>
                    <td>@item.title</td>
                    <td>@item.warehouseID</td>
                    <td>
                        @Html.ActionLink("Detail", "DetailUser", "Users", new { id = item.userID}, null) |
                        @Html.ActionLink("Edit", "EditStaff", "Staff", new { id = item.staffID }, null)
                    </td>

                </tr>
            }
        </tbody>
    </table>
</div>
