
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="row align-items-center">
        <div class="col-md-3">
            <h2>Shipments</h2>
        </div>
        <div class="col-md-9 text-right">
            <ul>
                <li style="text-decoration:none;display:inline-block">
                    <input type="button" class="btn btn-success" value="Add a Shipment" onclick="location.href='@Url.Action("AddShipment", "Shipments")'" />
                </li>
                <li style="text-decoration:none;display:inline-block">
                    <input type="button" class="btn btn-primary" value="Back to Main Page" onclick="location.href='@Url.Action("Index", "Main")'" />
                </li>
            </ul>
        </div>
    </div>
</div>


<div class="table-responsive">
    <table class="table table-hover ">
        <thead style="font-weight:700;font-size:110%;">
            <tr>
                <td>Shipment ID</td>
                <td>Warehouse ID</td>
                <td>Warehouse Name</td>
                <td>Description</td>
                <td>Shipment Date</td>
            </tr>
        </thead>
        <hr />
        <tbody>
            @foreach (var item in Model)
            {
                <tr>

                    <td scope="row">@item.shipmentID</td>
                    <td>@item.warehouseID</td>
                    <td>@item.Warehouses.warehouseName</td>
                    <td>@item.shipmentDescription</td>
                    <td>@item.shipmentDate</td>
                    <td>
                        @Html.ActionLink("Detail", "DetailShipment", "Shipments", new { id = item.shipmentID }, null) |
                        @Html.ActionLink("Edit", "EditShipment", "Shipments", new { id = item.shipmentID }, null)
                        @if (item.Packages.Count == 0)
                        {
                            <span>|</span>
                            @Html.ActionLink("Delete", "DeleteFromShipments", "Shipments", new { id = @item.shipmentID }, new { onclick = "return confirm('Are you sure you wish to delete this shipment with its payment?'); " })
                        }
                    </td>

                </tr>
            }
        </tbody>
    </table>
</div>

